<!DOCTYPE html>
<html>
  <% include _head.ejs %>

  <body>
    <div class="container">
      <% include _nav.ejs %>

      <div class="jumbotron">
        <h1>Welcome!</h1>
        <p>Welcome to the Secure Bank website.</p>
        <p>From here you can view all the great products we provide as well as access all your secret banking information.</p>
        <p>To start with internet banking, you can <a href="/login">sign in</a> and verify your identity with just your mobile phone.</p>
        <p>The first time you log in, you will be prompted to update your user profile.</p>
      </div>
    </div>
  </body>
</html>
