<!DOCTYPE html>
<html>
<% include _head.ejs %>

<body>
<div class="container">
    <% include _nav.ejs %>

    <div class="jumbotron">
        <h1><%= error %></h1>
        <h2><%= message %></h2>
    </div>
</div>
</body>
</html>